<launch>
  <!-- Where to find intrinsics, extrinsics, parameters -->
  <arg name="dataset_name" value="JackrabbotTall"/>
  <arg name="online" default="false" />  
  <!--arg name="rosbag_path" value="/home/andrew/Documents/SPARK/JackRabbot/jrdb_train/cvgl/group/jrdb/data/train_dataset/rosbags/ClarkRotatedOccam01WithInterIMU.bag"/-->
  <arg name="rosbag_path" value="/home/andrew/Documents/SPARK/JackRabbot/rosbags/TressiderWithGTIMUNoisyAndGTVel.bag"/>
  <arg name="verbosity"    default="0" />
  <arg name="viz_type"     default="0" />

  <arg name="log_output" default="true"/>
  <arg name="log_output_path"
       default="$(find kimera_vio_ros)/output_logs/JackrabbotTallTressiderGTIMUNoisy"
       if="$(arg log_output)"/>
  <arg name="log_gt_data" default="false"/>

  <!-- Subscribed Topics -->
  <arg name="left_cam_topic"  value="ros_indigosdk_node/image0_rotated"/>
  <arg name="right_cam_topic" value="ros_indigosdk_node/image1_rotated"/>
  <arg name="imu_topic"       value="imu/data_from_gt_noisy"/>
  <arg name="odometry_ground_truth_topic" default="gt_odom_with_velocity"/>

  <!-- Frame IDs for Odometry -->
  <arg name="base_link_frame_id" value="kimera_base_link" />

  <!-- Launch actual pipeline -->
  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch"
           pass_all_args="true"/>
</launch>
