<launch>
  <arg name="dataset_name"   default="uHumans1"/>
  <arg name="verbosity"      default="0"/>
  <arg name="online"         default="true"/>
  <arg name="use_lcd"        default="true"/>

  <param name="use_sim_time" value="true"/>

  <arg name="log_output" default="true"/>
  <arg name="log_output_path"
       default="$(find kimera_vio_ros)/output_logs/$(arg dataset_name)"
       if="$(arg log_output)"/>
  <arg name="log_gt_data" default="true"/>
  <arg name="gt_topic"    default="/tesse/odom"/>

  <arg name="use_online_cam_params" default="false"/>

  <!-- Change rosbag path if online argument is false -->
  <arg name="rosbag_path"
    default=""
    unless="$(arg online)"/>

  <!-- Frame IDs -->
  <arg name="base_link_frame_id" default="base_link_kimera"/>
  <arg name="left_cam_frame_id"  default="left_cam_kimera"/>
  <arg name="right_cam_frame_id" default="right_cam_kimera"/>

    <!-- Subscriber Topics -->
  <arg name="left_cam_topic"        default="/tesse/left_cam/image_raw"/>
  <arg name="left_cam_info_topic"   default="/tesse/left_cam/camera_info"/>
  <arg name="right_cam_topic"       default="/tesse/right_cam/image_raw"/>
  <arg name="right_cam_info_topic"  default="/tesse/right_cam/camera_info"/>
  <arg name="imu_topic"             default="/tesse/imu"/>

  <!-- Empty string ("") means no ground-truth available. Used for init if
   requested to do ground-truth initialization. -->
  <arg name="odometry_ground_truth_topic" default="$(arg gt_topic)"/>

  <!-- Perform stereo dense reconstruction? -->
  <arg name="run_stereo_dense"     default="false"/>
  <group ns="stereo_gray" if="$(arg run_stereo_dense)">
    <!-- StereoBM -->
    <node name="stereo_image_proc" pkg="stereo_image_proc"
      type="stereo_image_proc" clear_params="true" output="screen">
      <!-- Input -->
      <remap from="left/image_raw"          to="$(arg left_cam_topic)"/>
      <remap from="right/image_raw"         to="$(arg right_cam_topic)"/>

      <remap from="left/camera_info"        to="$(arg left_cam_info_topic)"/>
      <remap from="right/camera_info"       to="$(arg right_cam_info_topic)"/>
      <!-- Output -->
      <remap from="/stereo_gray/points2"    to="/stereo_gray/points2"/>
      <remap from="/stereo_gray/disparity"  to="/stereo_gray/disparity"/>
      <!-- Params -->
      <param name="approximate_sync" value="true" />
    </node>
  </group>

  <!-- Launch actual pipeline -->
  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch"
    pass_all_args="true"/>
</launch>
