<launch>
  <arg name="dataset_name" value="Euroc"/>
  <arg name="verbosity"    default="0" />

  <!-- Set online to true if you use rosbag play or sensor stream -->
  <arg name="online" default="true" />
  <!-- Set use_sim_time to true if you use rosbag with clock argument -->
  <param name="use_sim_time" value="true"/>
  <!-- Set log_output to true and SparkVio will log output of all modules to
       the log_output_path location. -->
  <arg name="log_output" default="false"/>
  <arg name="log_output_path"
    default="$(find kimera_vio_ros)/output_logs/$(arg dataset_name)"
       if="$(arg log_output)"/>
  <!-- Set to true and specify gt_topic if you want to log ground-truth data -->
  <arg name="log_gt_data" default="false"/>
  <arg name="gt_topic" if="$(arg log_gt_data)"
       default="/vicon/firefly_sbx/firefly_sbx"/>

  <arg name="use_lcd"   default="false"/>
  <arg name="visualize" default="false"/>

  <arg name="use_online_cam_params" value="false"/>

  <!-- Change rosbag path if online argument is false -->
  <arg name="rosbag_path" default="/home/tonirv/datasets/euroc/V1_01_easy/V1_01_easy.bag"
    unless="$(arg online)"/>

  <!-- Frame IDs -->
  <arg name="base_link_frame_id" value="base_link"/>
  <arg name="left_cam_frame_id"  value="cam0"/>
  <arg name="right_cam_frame_id" value="cam1"/>

  <!-- Launch actual pipeline -->
  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch"
    pass_all_args="true"/>
</launch>
