<launch>
  <arg name="robot_name"  doc="Namespace of the platform producing sensor data." />
  <arg name="robot_id"    doc="ID of the platform producing sensor data." />
  <arg name="online"      default="true" />
  <arg name="log_output"  default="true"/>
  <arg name="use_d455"    default="true" />
  <arg name="replay"      default="false" />

  <arg name="do_coarse_temporal_sync" default="false"/>
  <arg name="do_fine_temporal_sync"   default="false"/>
  <arg name="use_external_odom"       default="true"/>
  <arg name="use_lcd"                 default="true"/>
  <arg name="lcd_no_optimize"         default="false"/>
  <arg name="lcd_no_detection"        default="false"/>

  <!-- enable publishing but disable all GUIs -->
  <arg name="visualize"		      default="true"/>
  <arg name="viz_type"                default="0" />
  <arg name="use_rviz"                default="true"/>

  <!-- Other settings -->
  <arg name="log_gt_data"             value="true"/>
  <arg name="log_imu_data"            value="true"/>
  <arg name="should_use_sim_time"     default="false"/>
  <arg name="params_folder"           value="$(find kimera_vio)/params/D455" if="$(arg use_d455)" />
  <arg name="params_folder"           value="$(find kimera_vio)/params/Jackal" unless="$(arg use_d455)" />
  <arg name="log_output_path"         value="$(find kimera_vio_ros)/output_logs/Jackal" if="$(arg log_output)" />

  <!-- Subscribed Topics -->
  <arg name="left_cam_topic"      value="/$(arg robot_name)/forward/infra1/image_rect_raw"/>
  <arg name="right_cam_topic"     value="/$(arg robot_name)/forward/infra2/image_rect_raw"/>
  <arg name="imu_topic"           value="/$(arg robot_name)/forward/imu"/>
  <arg name="external_odom_topic" value="/$(arg robot_name)/jackal_velocity_controller/odom"/>

  <!-- frame information -->
  <arg name="map_frame_id"      value="$(arg robot_name)/map"/>
  <arg name="base_link_frame_id"  value="$(arg robot_name)/realsense_base"/>
  <arg name="odom_frame_id"        value="$(arg robot_name)/odom"/>
  <arg name="left_cam_frame_id"   value="$(arg robot_name)/forward_infra1_optical_frame"/>
  <arg name="right_cam_frame_id"  value="$(arg robot_name)/forward_infra2_optical_frame"/>

  <!-- Launch actual pipeline -->
  <group ns="$(arg robot_name)" >
    <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch"  pass_all_args="true"/>

    <!-- static transform for realsense to base frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_realsense" args="0 0 -0.2 0 0 0 $(arg robot_name)/realsense_base $(arg robot_name)/base" />

    <!-- Decompress images -->
    <node if="$(arg replay)" pkg="image_transport" type="republish" name="left_img_decompress" 
      args="compressed in:=$(arg left_cam_topic) raw out:=$(arg left_cam_topic)" />
    <node if="$(arg replay)" pkg="image_transport" type="republish" name="right_img_decompress" 
      args="compressed in:=$(arg right_cam_topic) raw out:=$(arg right_cam_topic)" />

  </group>  <!-- ns="$(arg robot_name)" -->

</launch>