<launch>
  <arg name="robot_name"  default="acl_jackal"/>
  <arg name="online"      default="true" />
  <arg name="log_output"  default="true"/>
  <arg name="rosbag_path" default="path" />
  <arg name="robot_type"  default="warty" />
  <arg name="robot_id" default="0" />
  <arg name="multirobot" default="false" />

  <arg name="do_coarse_temporal_sync" default="false"/>
  <arg name="do_fine_temporal_sync"   default="false"/>
  <arg name="use_external_odom"       default="false"/>
  <arg name="use_lcd"                 default="true"/>
  <arg name="lcd_no_optimize"         default="false"/>
  <arg name="lcd_no_detection"        default="false"/>

  <!-- Other settings -->
  <arg name="log_gt_data"             value="true"/>
  <arg name="log_imu_data"            value="true"/>
  <arg name="should_use_sim_time"     default="true"/>
  <arg name="params_folder"           value="$(find kimera_vio)/params/warty"/>
  <arg name="log_output_path"         value="$(find kimera_vio_ros)/output_logs/warty" if="$(arg log_output)" />
  <remap from="/kimera_vio_ros/gt_odom"        to="/unity_command/ground_truth/$(arg robot_name)/odom"/>
  

  <!-- Subscribed Topics -->
  <arg name="left_cam_topic"      value="/$(arg robot_name)/camera/image"/>
  <arg name="right_cam_topic"     value="/$(arg robot_name)/right_camera/image"/>
  <arg name="imu_topic"           value="/$(arg robot_name)/imu/data"/>
  <!-- Only used when parsing a rosbag -->
  <arg name="odom_frame_id"       value="odom"/>
  <arg name="base_link_frame_id"  value="base_link"/>
  <arg name="map_frame_id"        value="map"/>
  <arg name="left_cam_frame_id"   value="left_cam"/>
  <arg name="right_cam_frame_id"  value="right_cam"/>
  <arg name="external_odom_topic" value="/$(arg robot_name)/jackal_velocity_controller/odom"/>

  <!-- Launch actual pipeline -->
  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch"
    pass_all_args="true"/>

</launch>