<launch>
  <arg name="dataset_name" value="EurocMono"/>
  <arg name="verbosity"    default="0" />
  <arg name="do_coarse_temporal_sync" default="false"/>
  <arg name="do_fine_temporal_sync" default="false"/>

  <!-- Set online to true if you use rosbag play or sensor stream -->
  <arg name="online" default="false" />
  <!-- Set use_sim_time to true if you use rosbag with clock argument -->
  <param name="use_sim_time" value="true"/>
  <!-- Set log_output to true and KimeraVIO will log output of all modules to
       the log_output_path location. -->
  <arg name="log_output" default="false"/>
  <arg name="log_output_path"
    default="$(find kimera_vio_ros)/output_logs/$(arg dataset_name)"
       if="$(arg log_output)"/>
  <!-- Set to true and specify gt_topic if you want to log ground-truth data -->
  <arg name="log_gt_data" default="false"/>
  <arg name="gt_topic" default=""/>

  <rosparam param="gt_gyro_bias"> [-0.002229, 0.0207, 0.07635] </rosparam>
  <rosparam param="gt_accel_bias"> [-0.012492, 0.547666, 0.069073] </rosparam>

  <arg name="use_lcd"           default="false"/>
  <arg name="use_external_odom" default="false"/>
  <arg name="visualize"         default="true"/>

  <!-- Change rosbag path if online argument is false -->
  <arg name="rosbag_path" default=""
    unless="$(arg online)"/>

  <!-- Right camera topic not necessary -->
  <arg name="right_cam_topic"     default=""/>

  <!-- Perform stereo dense reconstruction? -->
  <arg name="run_stereo_dense"     default="false"/>

  <!-- Launch actual pipeline -->
  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros_euroc.launch"
    pass_all_args="true"/>
</launch>
