<launch>
  <arg name="robot_name" default="tesse"/>
  <arg name="dataset_name"      default="uHumans2"/>
  <arg name="verbosity"         default="0"/>
  <arg name="online"            default="true"/>
  <arg name="use_lcd"           default="false"/>
  <arg name="use_external_odom" default="false"/>

  <arg name="do_coarse_temporal_sync" default="false"/>
  <arg name="do_fine_temporal_sync" default="false"/>

  <arg name="log_output" default="true"/>
  <arg name="log_output_path"
       default="$(find kimera_vio_ros)/output_logs/$(arg dataset_name)"
       if="$(arg log_output)"/>
  <arg name="log_gt_data" default="true"/>
  <arg name="gt_topic"    default="/$(arg robot_name)/odom"/>

  <!-- Change rosbag path if online argument is false -->
  <arg name="rosbag_path" default="" unless="$(arg online)"/>

  <!-- Frame IDs -->
  <arg name="odom_frame_id" default="world"/>
  <arg name="map_frame_id" default="map"/>
  <arg name="base_link_frame_id" default="base_link_kimera"/>
  <arg name="left_cam_frame_id"  default="left_cam_kimera"/>
  <arg name="right_cam_frame_id" default="right_cam_kimera"/>

  <!-- Subscriber Topics -->
  <arg name="left_cam_topic"        default="/$(arg robot_name)/left_cam/mono/image_raw"/>
  <arg name="right_cam_topic"       default="/$(arg robot_name)/right_cam/mono/image_raw"/>
  <arg name="imu_topic"             default="/$(arg robot_name)/imu/clean/imu"/>
  <arg name="external_odom_topic"   default="/$(arg robot_name)/odom"/>

  <!-- Empty string ("") means no ground-truth available. Used for init if
   requested to do ground-truth initialization. -->
  <arg name="odometry_ground_truth_topic" default="$(arg gt_topic)"/>

  <!-- Launch actual pipeline -->
  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch"
    pass_all_args="true"/>
</launch>
