<launch>
  <arg name="dataset_name"   value="uHumans2"/>
  <arg name="verbosity"      default="0"/>
  <arg name="online"         default="true"/>
  <arg name="use_lcd"        default="true"/>

  <param name="use_sim_time" value="true"/>

  <arg name="log_output" default="true"/>
  <arg name="log_output_path"
       default="$(find kimera_vio_ros)/output_logs/$(arg dataset_name)"
       if="$(arg log_output)"/>
  <arg name="log_gt_data" default="true"/>
  <arg name="gt_topic"    default="/tesse/odom"/>

  <arg name="use_online_cam_params" default="false"/>

  <!-- Change rosbag path if online argument is false -->
  <arg name="rosbag_path"
    default="/home/tonirv/datasets/uHumans2/apartment_scene/uHumans2_apartment_s1_00h.bag"
    unless="$(arg online)"/>

  <!-- Frame IDs -->
  <arg name="base_link_frame_id" value="base_link_kimera"/>
  <arg name="left_cam_frame_id"  value="left_cam_kimera"/>
  <arg name="right_cam_frame_id" value="right_cam_kimera"/>

  <!-- Subscriber Topics -->
  <arg name="left_cam_topic"        value="/tesse/left_cam/mono/image_raw"/>
  <arg name="left_cam_info_topic"   value="/tesse/left_cam/camera_info"/>
  <arg name="right_cam_topic"       value="/tesse/right_cam/mono/image_raw"/>
  <arg name="right_cam_info_topic"  value="/tesse/right_cam/camera_info"/>
  <arg name="imu_topic"             value="/tesse/imu/clean/imu"/>

  <!-- Empty string ("") means no ground-truth available. Used for init if
   requested to do ground-truth initialization. -->
  <arg name="odometry_ground_truth_topic" value="$(arg gt_topic)"/>

  <!-- Perform stereo dense reconstruction? -->
  <arg name="run_stereo_dense"     default="false"/>
  <group ns="stereo_gray" if="$(arg run_stereo_dense)">
    <!-- StereoBM -->
    <node name="stereo_image_proc" pkg="stereo_image_proc"
      type="stereo_image_proc" clear_params="true" output="screen">
      <!-- Input -->
      <remap from="left/image_raw"          to="$(arg left_cam_topic)"/>
      <remap from="right/image_raw"         to="$(arg right_cam_topic)"/>

      <remap from="left/camera_info"        to="$(arg left_cam_info_topic)"/>
      <remap from="right/camera_info"       to="$(arg right_cam_info_topic)"/>
      <!-- Output -->
      <remap from="/stereo_gray/points2"    to="/stereo_gray/points2"/>
      <remap from="/stereo_gray/disparity"  to="/stereo_gray/disparity"/>
      <!-- Params -->
      <param name="approximate_sync" value="true" />
    </node>
  </group>

  <!-- Launch actual pipeline -->
  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch"
    pass_all_args="true"/>
</launch>
