<launch>
  <arg name="camera_id" default="acl_jackal/forward"/>
  <arg name="online" default="true" />
  <arg name="log_output" default="true"/>
  <arg name="rosbag_path" default="path" />
  <arg name="robot_type" default="Jackal" />

  <arg name="use_external_odom" default="false"/>
  <arg name="use_lcd" default="true"/>

  <!-- Other settings -->
  <arg name="log_gt_data" value="false"/>
  <arg name="log_imu_data" value="true"/>
  <arg name="should_use_sim_time" default="true"/>
  <arg name="params_folder" value="$(find kimera_vio)/params/$(arg robot_type)"/>
  <arg if="$(arg log_output)" name="log_output_path" value="$(find kimera_vio_ros)/output_logs/$(arg robot_type)"/>
  <remap from="/kimera_vio_ros/gt_odom"        to="/acl_jackal/jackal_velocity_controller/odom"/>
  

  <!-- Subscribed Topics -->
  <arg name="left_cam_topic" value="/$(arg camera_id)/infra1/image_rect_raw"/>
  <arg name="right_cam_topic" value="/$(arg camera_id)/infra2/image_rect_raw"/>
  <arg name="imu_topic"  value="/$(arg camera_id)/imu"/>
  <!-- Only used when parsing a rosbag -->
  <arg name="world_frame_id"     value="world"/>
  <arg name="base_link_frame_id" value="base_link"/>
  <arg name="map_frame_id"       value="map"/>
  <arg name="left_cam_frame_id"  value="left_cam"/>
  <arg name="right_cam_frame_id" value="right_cam"/>
  <arg name="external_odom_topic" value="/acl_jackal/jackal_velocity_controller/odom"/>

  <!-- Launch actual pipeline -->
  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch"
    pass_all_args="true"/>

  <node pkg="tf" type="static_transform_publisher" name="acl_kimera_tf" args="0 0 0 0 0 0 /world /acl_jackal/map 100"/>

</launch>