<launch>
  <arg name="dataset_name" value="Kitti"/>
  <arg name="parallel" default="True" />
  <arg name="online" default="True" />

  <!-- Only used when parsing a rosbag -->
  <arg name="rosbag_path" default="/home/tonirv/datasets/kitti/TODO"
       unless="$(arg online)"/>

  <!-- Subscribed Topics -->
  <arg name="left_cam_topic"  default="/kitti/camera_gray_left/image_raw"/>
  <arg name="right_cam_topic" default="/kitti/camera_gray_right/image_raw"/>
  <arg name="imu_topic"       default="/kitti/oxts/imu"/>

  <!-- Launch actual pipeline -->
  <include file="$(find spark_vio_ros)/launch/spark_vio_ros.launch"
           pass_all_args="true"/>
</launch>
