<launch>
  <arg name="dataset_name" value="EuRoC"/>
  <!-- If you want to run the pipeline in parallel vs sequential mode -->
  <arg name="parallel" default="True" />
  <!-- If False, parses the given rosbag, otw it plays the rosbage -->
  <arg name="online" default="True" />
  <!-- !!!! VIT !!!! This should be true when running online with a rosbag publishing clock,
  but false when parsing rosbag? Needs rosbag to be publishing clock -->
  <param name="use_sim_time" value="True"/>
  <arg name="rosbag_path" unless="$(arg online)"/>

  <arg name="verbosity" default="0" />
  <arg name="backend_type" default="1" /> <!-- For regular VIO -->
  <arg name="visualize" default="False" /> <!-- Note that this is duplicated from the flags file -->

  <!-- Each dataset has its own set of parameter files -->
  <arg name="params_folder" value="$(find spark_vio_ros)/param/$(arg dataset_name)"/>
  <rosparam command="load" file="$(arg params_folder)/calibration.yaml"/>

  <!-- Resiliency Thresholds: TODO(Sandro) document -->
  <param name="velocity_det_threshold"  value="0.1"/>
  <param name="position_det_threshold"  value="0.3"/>
  <param name="stereo_ransac_threshold" value="20"/>
  <param name="mono_ransac_threshold"   value="30"/>

  <!-- TF from IMU to Cam0 for Euroc -->
  <arg name="left_cam_frame_id"  default="cam0"/>
  <node pkg="tf" type="static_transform_publisher" name="left_cam_broadcaster"
  args="-0.0216401454975 -0.064676986768 0.00981073058949
  -0.0077071797555374275 0.010499323370587278 0.7017528002919717 0.7123014606689537 base_link $(arg left_cam_frame_id) 100"/>

  <!-- Launch main node  -->
  <node name="spark_vio_ros" pkg="spark_vio_ros" type="spark_vio_ros" output="screen"
  args="--vio_params_path=$(arg params_folder)/regularVioParameters.yaml
        --tracker_params_path=$(arg params_folder)/trackerParameters.yaml
        --flagfile=$(arg params_folder)/flags/StereoVIO.flags
        --flagfile=$(arg params_folder)/flags/Mesher.flags
        --flagfile=$(arg params_folder)/flags/VioBackEnd.flags
        --flagfile=$(arg params_folder)/flags/RegularVioBackEnd.flags
        --flagfile=$(arg params_folder)/flags/Visualizer3D.flags
        --logtostderr=1
        --colorlogtostderr=1
        --log_prefix=1
        --v=$(arg verbosity)
        --backend_type=$(arg backend_type)
        --log_output=False
        --output_path='.'
        --visualize=$(arg visualize)
        --parallel_run=$(arg parallel)
        --online_run=$(arg online)">
    <!-- Frame IDs for Odometry -->
    <param name="world_frame_id"     value="world"/>
    <param name="base_link_frame_id" value="base_link"/>

    <!-- Subscriber topics -->
    <!-- if we run online, use remap -->
    <remap from="left_cam"  to="/cam0/image_raw" if="$(arg online)"/>
    <remap from="right_cam" to="/cam1/image_raw" if="$(arg online)"/>
    <remap from="imu"       to="/imu0"           if="$(arg online)"/>
    <!-- if we run offline, use params -->
    <param name="rosbag_path"            value="$(arg rosbag_path)" unless="$(arg online)"/>
    <param name="left_cam_rosbag_topic"  value="/cam0/image_raw"    unless="$(arg online)"/>
    <param name="right_cam_rosbag_topic" value="/cam1/image_raw"    unless="$(arg online)"/>
    <param name="imu_rosbag_topic"       value="/imu0"              unless="$(arg online)"/>

    <!-- Other subscription topics -->
    <remap from="reinit_flag" to="/sparkvio/reinit_flag"/>
    <remap from="reinit_pose" to="/sparkvio/reinit_pose"/>

    <!-- Remap publisher topics -->
    <remap from="odometry"   to="/sparkvio/odometry"/>
    <remap from="resiliency" to="/sparkvio/resiliency"/>
    <remap from="imu_bias"   to="/sparkvio/imu_bias"/>
  </node>
</launch>
