<launch>
  <arg name="dataset_name" value="Kitti"/>

  <arg name="parallel" default="True" />

  <arg name="online" default="True" />

  <!-- Remap subscriber topics -->
	<remap from="/cam0/image_raw" to="/kitti/camera_gray_left/image_raw"/>
	<remap from="/cam1/image_raw" to="/kitti/camera_gray_right/image_raw"/>
	<remap from="imu0" to="/kitti/oxts/imu"/>

  <!-- Each dataset has its own set of parameter files -->
  <rosparam command="load" file="$(find spark_vio_ros)/param/$(arg dataset_name)/calibration.yaml"/>

  <!-- Remap subscriber topics -->
  <!-- remap from="sparkvio/reinit_flag" to="/sparkvio/reinit_flag"/ -->
  <!-- remap from="sparkvio/reinit_pose" to="/sparkvio/reinit_pose"/ -->

  <!-- Remap publisher topics -->
  <!-- remap from="sparkvio/odometry" to="/sparkvio/odometry"/ -->
  <!-- remap from="sparkvio/resiliency" to="/sparkvio/resiliency"/ -->
  <!-- remap from="sparkvio/imu_bias" to="/sparkvio/imu_bias"/ -->

  <!-- Resiliency Thresholds -->
  <param name="velocity_det_threshold" value="0.1" />
  <param name="position_det_threshold" value="0.3" />
  <param name="stereo_ransac_threshold" value="20" />
  <param name="mono_ransac_threshold" value="30" />

  <!-- Frame IDs for Odometry -->
  <param name="odom_base_frame_id" value="world" />
  <param name="odom_child_frame_id" value="base_link" />

	<!-- More parameter arguments -->
	<arg name="VIO_PARAMS_PATH" value="$(find spark_vio_ros)/param/$(arg dataset_name)/regularVioParameters.yaml" />
	<param name="vio_params_filepath" value="$(arg VIO_PARAMS_PATH)" />
	<arg name="TRACKER_PARAMS_PATH" value="$(find spark_vio_ros)/param/$(arg dataset_name)/trackerParameters.yaml" />
	<param name="tracker_params_filepath" value="$(arg TRACKER_PARAMS_PATH)" />
	<arg name="VIO_FLAGS_PATH" value="$(find spark_vio_ros)/param/$(arg dataset_name)/flags/StereoVIO.flags" />
	<arg name="MESHER_FLAGS_PATH" value="$(find spark_vio_ros)/param/$(arg dataset_name)/flags/Mesher.flags" />
	<arg name="BACKEND_FLAGS_PATH" value="$(find spark_vio_ros)/param/$(arg dataset_name)/flags/VioBackEnd.flags" />
	<arg name="REGULAR_BACKEND_FLAGS_PATH" value="$(find spark_vio_ros)/param/$(arg dataset_name)/flags/RegularVioBackEnd.flags" />
	<arg name="VISUALIZER_FLAGS" value="$(find spark_vio_ros)/param/$(arg dataset_name)/flags/Visualizer3D.flags" />
	<arg name="VERBOSITY" default="0" />
	<arg name="BACKEND_TYPE" default="1" /> <!-- For regular VIO -->
	<arg name="LOG_OUTPUT" default="False" />
	<arg name="OUTPUT_PATH" default="./" />
	<arg name="VISUALIZE" default="False" /> <!-- Note that this is duplicated from the flags file -->

	<!-- Launch main node  -->
	<node name="stereo_vio_ros" pkg="spark_vio_ros" type="stereo_vio_ros" output="screen" 
				args="--logtostderr=1
  					  --colorlogtostderr=1 
  					  --log_prefix=1 
  					  --vio_params_path=$(arg VIO_PARAMS_PATH) 
  					  --tracker_params_path=$(arg TRACKER_PARAMS_PATH) 
  					  --flagfile=$(arg VIO_FLAGS_PATH) 
  					  --flagfile=$(arg MESHER_FLAGS_PATH)
  					  --flagfile=$(arg BACKEND_FLAGS_PATH)
  					  --flagfile=$(arg REGULAR_BACKEND_FLAGS_PATH)
  					  --flagfile=$(arg VISUALIZER_FLAGS)
  					  --v=$(arg VERBOSITY)
  					  --backend_type=$(arg BACKEND_TYPE)
  					  --log_output=$(arg LOG_OUTPUT)
  					  --output_path=$(arg OUTPUT_PATH)
  					  --visualize=$(arg VISUALIZE)
              --parallel_run=$(arg parallel)
              --online_run=$(arg online)" />

</launch>
