<launch>
  <arg name="dataset_name" value="EuRoC"/>
  <arg name="verbosity"    default="0" />

  <!-- Set online to true if you use rosbag play or sensor stream -->
  <arg name="online" default="true" />
  <!-- Set use_sim_time to true if you use rosbag with clock argument -->
  <param name="use_sim_time" value="true"/>

  <!-- Change rosbag path if online argument is false -->
  <arg name="rosbag_path" default="/home/tonirv/datasets/euroc/V1_01_easy/V1_01_easy.bag"
    unless="$(arg online)"/>

  <!-- Specify the absolute path to the vocabulary file. -->
  <!-- This is usually in the VIO directory (VIO/vocabulary/ORBvoc.yml). -->
  <arg name="path_to_vocab" value="/home/yunchang/VIO/vocabulary/ORBvoc.yml"/>

  <!-- Frame IDs -->
  <arg name="base_link_frame_id" value="base_link"/>

  <!-- Launch static TF node from IMU to Cam0 for Euroc -->
  <node pkg="tf" type="static_transform_publisher" name="left_cam_broadcaster"
    args="-0.0216401454975 -0.064676986768 0.00981073058949
    -0.0077071797555374275 0.010499323370587278 0.7017528002919717 0.7123014606689537
    $(arg base_link_frame_id) cam0 100"/>

  <!-- Launch actual pipeline -->
  <include file="$(find spark_vio_ros)/launch/spark_vio_ros.launch"
    pass_all_args="true"/>
</launch>
